<ion-content text-center>
  <div class="is-hero">
    <div class="is-image-container" padding-top>
      <img src="assets/imgs/logo-main.png"/>
      <h1 style="margin-top: unset; position: unset; color: white">
        <span class="light-mint-color">Glue</span>DROP
      </h1>
    </div>
  </div>

  <ion-list padding class="is-list-transparent">
    <ion-item>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item class="is-password-field">
      <ion-input [type]="passwordType || 'password'" placeholder="Пароль" [(ngModel)]="password"></ion-input>
      <ion-button fill="clear" size="default" slot="end" (click)="togglePasswordType()">
        <ion-icon [name]="(passwordType === 'text') ? 'eye-off' : 'eye'"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list lines="none" padding no-margin class="is-list-buttons is-list-transparent">
    <ion-item color="primary" button detail="true" (click)="login()">
      <ion-label>Войти</ion-label>
    </ion-item>
  </ion-list>

  <ion-list lines="none" class="is-list-buttons is-list-transparent" padding no-margin>
    <ion-item color="light" button detail="true" (click)="signUp()">
      <ion-label>Зарегистрироваться</ion-label>
    </ion-item>
  </ion-list>

  <div padding-horizontal>
    <p class="is-login-element-dark-contrast">
      Забыли пароль? <a routerLink="">Восстановить</a>
    </p>
  </div>
</ion-content>
