<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Профиль</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div margin class="is-profile-picture">
    <img *ngIf="networkService.isInternet" src="assets/imgs/cloudSync.png">
    <img *ngIf="!networkService.isInternet" src="assets/imgs/cloudSyncNo.png">
  </div>

  <div text-center margin-bottom>
    <h2 no-margin>Синхронизация</h2>
    <p *ngIf="networkService.isInternet" no-margin>Все записи на устройстве синхронизированы</p>
    <p *ngIf="!networkService.isInternet" style="color: red" no-margin>Отсутствует интернет - соединение</p>
  </div>

  <ion-list>
    <ion-item button (click)="editProfile()">
      <ion-avatar slot="start" class="is-icon-avatar is-background-primary">
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Редактировать профиль</h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item button (click)="exit()">
      <ion-avatar slot="start" class="is-icon-avatar is-background-danger">
        <ion-icon name="exit"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2>Выйти из аккаунта</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
