.is-payment-cards ion-card ion-thumbnail img {
  padding: 4px;
  background: #fff;
  box-sizing: content-box;
}
:host {
  background-size: cover;
  background-position: center;
  --background: transparent;
  //--background: #4a5565;
  background-image: url("assets/imgs/landscape.png");

  ion-content, ion-toolbar {
    --background: transparent;
    --ion-toolbar-border-color: transparent !important;
    color: white;
  }
}

ion-datetime {
  margin: auto;
  font-size: 12px;
  padding: 4px;
  border: 1px solid  var(--ion-color-primary, #3880ff);
  border-radius: 10px;
}

ion-item {
  --min-height: unset;
}

ion-avatar {
  border: 1px solid  var(--ion-color-primary, #3880ff);
  --border-radius: 20px;
  padding: 6px;
  margin: auto;
  cursor: pointer;
}

.borderSelected {
  border: 1px solid  var(--ion-color-light, #f4f5f8);
}
