<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Мой дневник</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="is-payment-cards is-card-unbordered">
        <ion-card no-padding style="width: unset; margin: 10px; border-radius: 20px;">
          <ion-item mode="ios" style="border-bottom: 1px solid var(--ion-color-is-mute-light);">
            <ion-label style="margin: auto;" text-center="true">{{selectedMood}}</ion-label>
            <ion-item style="padding: unset" *ngIf="selectedMood === 'Еда'" mode="ios" slot="end" button (click)="openModal()">
              <ion-label style="margin: auto;" text-center="true">Калькулятор</ion-label>
            </ion-item>
          </ion-item>

          <ion-card-content no-padding style="padding-top: unset">
            <ion-item style="--padding-start: unset">
              <ion-avatar [ngClass]="{borderSelected: selectedMood === 'Сахар'}" (click)="changeSelectedMood('Сахар')">
                <img src="assets/imgs/glucose_meter.png">
              </ion-avatar>
              <ion-avatar [ngClass]="{borderSelected: selectedMood === 'Еда'}" (click)="changeSelectedMood('Еда')">
                <img src="assets/imgs/bread.png">
              </ion-avatar>
              <ion-avatar [ngClass]="{borderSelected: selectedMood === 'Короткий инсулин'}" (click)="changeSelectedMood('Короткий инсулин')">
                <img src="assets/imgs/syringe1.png">
              </ion-avatar>
              <ion-avatar [ngClass]="{borderSelected: selectedMood === 'Продленный инсулин'}" (click)="changeSelectedMood('Продленный инсулин')">
                <img src="assets/imgs/syringe.png">
              </ion-avatar>
              <ion-avatar [ngClass]="{borderSelected: selectedMood === 'Комментарий'}" (click)="changeSelectedMood('Комментарий')">
                <img src="assets/imgs/comment.png">
              </ion-avatar>
            </ion-item>
            <ion-item>
              <ion-datetime displayFormat="DD MMMM YYYY. в HH:mm" pickerFormat="DD.MMMM HH:mm" [monthNames]="customMonthName" [(ngModel)]="dateNow" cancelText="Отмена" doneText="Применить"></ion-datetime>
            </ion-item>
            <ion-item text-center *ngIf="selectedMood !== 'Комментарий'">
              <ion-label no-margin>{{rowValue}} {{selectedUnit}}</ion-label>
            </ion-item>
            <ion-item *ngIf="selectedMood !== 'Комментарий'">
              <ion-range mode="ios" min="{{minFirstRangeValue}}" max="{{maxFirstRangeValue}}" step="{{stepRange}}" pin="true" snaps="true" color="light" style="--knob-size: 11px; padding: unset" (ionChange)="changeFirstRange($event)" [(ngModel)]="selectedValue1">
                <ion-label slot="start" no-margin padding-end>{{minFirstRangeValue}}</ion-label>
                <ion-label slot="end" no-margin padding-start>{{maxFirstRangeValue}}+</ion-label>
              </ion-range>
            </ion-item>
            <ion-item *ngIf="selectedMood !== 'Комментарий'">
              <ion-range mode="ios" min="0" max="9" step="1" value=0 pin="true" snaps="true" color="light" style="--knob-size: 11px; padding: unset" (ionChange)="changeLastRange($event)" [(ngModel)]="selectedValue2">
                <ion-label slot="start" no-margin padding-end>0</ion-label>
                <ion-label slot="end" no-margin padding-start>0.9</ion-label>
              </ion-range>
            </ion-item>
            <ion-item *ngIf="selectedMood === 'Комментарий'">
              <ion-textarea placeholder="Введите комментарий к записи" [(ngModel)]="rowDiaryModel.comment"></ion-textarea>
            </ion-item>
            <ion-list *ngIf="!editRowEnable" lines="none" padding no-margin class="is-list-buttons is-list-transparent">
              <ion-item color="primary" button detail="false" style="width: 60%; float: left; --border-radius: 10px; text-align: center;" (click)="addNewRecord()">
                <ion-label>Готово</ion-label>
              </ion-item>
              <ion-item color="light" button detail="true" style="width: 35%; --border-radius: 10px; margin-right: 0;margin-left: auto;" (click)="setNextMode()" [disabled]="selectedMood === 'Комментарий'">
                <ion-label>Далее</ion-label>
              </ion-item>
            </ion-list>
            <ion-list *ngIf="editRowEnable" lines="none" padding no-margin class="is-list-buttons is-list-transparent">
              <ion-item color="primary" button detail="false" style="width: 60%; float: left; --border-radius: 10px; text-align: center;" (click)="editRecord()">
                <ion-label>Сохранить</ion-label>
              </ion-item>
              <ion-item color="light" button detail="false" style="width: 35%; --border-radius: 10px; margin-right: 0;margin-left: auto;" (click)="resetEditRowMod()">
                <ion-label>Отменить</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
  </div>

  <ion-list no-margin mode="ios">
    <ion-item-sliding  *ngFor="let row of rowDiaryModelArray; trackBy: trackByF; let i = index" #elem [id]="'sliding' + i">
      <ion-item style="--padding-start: unset">
        <ion-label style="margin-top: unset; margin-right: unset">
          <ion-item  style="border: unset">
            <ion-icon slot="start" name="time" style="margin-right: 8px"></ion-icon>
            <p text-wrap>{{row.date | date: 'HH:mm'}}</p>
            <p slot="end" text-wrap>{{row.date.toLocaleDateString()}}</p>
          </ion-item>
          <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
            <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/glucose_meter.png"></ion-img>
            <p text-wrap>{{row.sugarValue === '' || row.sugarValue === '0.0' ? '-' : row.sugarValue}}</p>
          </ion-item>
          <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
            <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/bread.png"></ion-img>
            <p text-wrap>{{row.foodValue === '' || row.foodValue === '0.0' ? '-' : row.foodValue}}</p>
          </ion-item>
          <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
            <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/syringe1.png"></ion-img>
            <p text-wrap>{{row.shortInsulinValue === '' || row.shortInsulinValue === '0.0' ? '-' : row.shortInsulinValue}}</p>
          </ion-item>
          <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
            <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/syringe.png"></ion-img>
            <p text-wrap>{{row.extendedInsulinValue === '' || row.extendedInsulinValue === '0.0' ? '-' : row.extendedInsulinValue}}</p>
          </ion-item>

          <ion-item *ngIf="row.food.length > 0" mode="ios" style="border: unset;">
            <ion-icon  slot="start" name="restaurant" style="margin-right: 8px"></ion-icon>
            <p text-wrap>{{returnFoodRow(row.food)}}</p>
          </ion-item>
          <ion-item *ngIf="row.comment !== ''" mode="ios" style="border: unset;">
            <ion-img slot="start" style="width: 6%; margin-right: 8px;" src="assets/imgs/comment.png"></ion-img>
            <p text-wrap>{{row.comment}}</p>
          </ion-item>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option expandable color="warning" (click)="editRow(i); elem.close()">Редактировать</ion-item-option>
        <ion-item-option expandable color="danger" (click)="deleteRow(i)">Удалить</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-button style="--background: transparent;" *ngIf="rowDiaryModelArray.length > 0" expand="full" fill="clear" (click)="goToDashboard()">Посмотреть все</ion-button>
  </ion-list>
  <div class="emptyRow" *ngIf="rowDiaryModelArray.length === 0">
    <ion-text style="display: block">
      У вас нет ни одной записи
    </ion-text>
    <ion-text style="font-size: 16px; font-weight: normal">
      Вы можете добавить её с помощью панели выше
    </ion-text>
  </div>

</ion-content>
