:host {
  background-size: cover;
  background-position: center;
  --background: transparent;
  //--background: #4a5565;
  background-image: url("assets/imgs/forest.png");

  ion-content, ion-toolbar {
    --background: transparent;
    --ion-toolbar-border-color: transparent !important;
  }
}

.chip-margin {
  margin: auto;
}

ion-chip {
  color: var(--ion-color-primary, #3880ff);
  border-color: var(--ion-color-primary, #3880ff);
}
ion-label {
  font-size: 15px !important;
}

.text-color {
  --color: var(--ion-text-color,#000)
}
