ion-content {
  //background-color: #4a5565;
  background-size: cover;
  background-position: center;
  //--background: transparent;
  --background: #4a5565;
}

h3 {
  margin-bottom: unset !important;
}

ion-item {
  --min-height: unset;
}
