<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Статистика</ion-title>
    <ion-buttons slot="end" (click)="routeToExportData()">
      <ion-icon size="large" name="cloud-download" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar mode="ios" style="--background: transparent;">
    <ion-segment mode="ios" [(ngModel)]="filterDaySegment" (ngModelChange)="segmentChange()">
      <ion-segment-button mode="ios" value="Day" checked>
        <ion-label>День</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="Week">
        <ion-label>Неделя</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="Month">
        <ion-label>Месяц</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-item class="date-row-item" *ngIf="filterDaySegment === 'Day'" style="width: 55%; margin: 10px auto;">
    <span no-margin no-padding style="font-size: 14px">Дата:</span> <ion-datetime no-padding  displayFormat="DD MMMM YYYY" pickerFormat="DD.MMMM.YYYY" [monthNames]="customMonthName" [(ngModel)]="dateNow" (ngModelChange)="changeDate()" cancelText="Отмена" doneText="Применить"></ion-datetime>
  </ion-item>
  <div *ngIf="filterDaySegment === 'Week' || filterDaySegment === 'Month'" style="width: 91%; margin: 10px auto;">
    <ion-item  class="date-row-item" style="width: 50%; display: inline-block;">
      <span no-margin no-padding style="font-size: 14px">От:</span> <ion-datetime no-padding style="padding-left: 5px" displayFormat="DD MMMM YYYY" pickerFormat="DD.MMMM.YYYY" [monthNames]="customMonthName" [(ngModel)]="minWeekDate" (ngModelChange)="changeDate()" cancelText="Отмена" doneText="Применить"></ion-datetime>
    </ion-item>
    <ion-item class="date-row-item" style="width: 50%; display: inline-block">
      <span no-margin no-padding style="font-size: 14px">До:</span> <ion-datetime no-padding style="padding-left: 5px" displayFormat="DD MMMM YYYY" pickerFormat="DD.MMMM.YYYY" [monthNames]="customMonthName" [(ngModel)]="maxWeekDate" (ngModelChange)="changeDate()" cancelText="Отмена" doneText="Применить"></ion-datetime>
    </ion-item>
  </div>
  <div class="chartWrapper">
    <div class="chartAreaWrapper">
      <canvas *ngIf="filterDaySegment !== 'Month'" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
      <canvas *ngIf="filterDaySegment === 'Month'" baseChart width="1000" height="200" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions1" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
    </div>

  </div>
  <div>
    <ion-item mode="ios" style="--background: transparent; --border-style: none; width: 45%; float: left; display: inline-block">
    <ion-icon mode="md" size="small"  slot="start" style="color: #63d0c5; margin: 1% 2%;" name="radio-button-on"></ion-icon>
      <p no-margin text-wrap style="color:white; --border-color: unset;">Сахар </p><span *ngIf="filterDaySegment === 'Week' || filterDaySegment === 'Month'" style="font-size: 14px; padding-left: 2px" > (ср.знач)</span>
    </ion-item>
    <ion-item mode="ios" style="--background: transparent; --border-style: none; width: 45%; display: inline-block">
      <ion-icon mode="md" size="small" slot="start" style="color: #FFDD7D; margin: 1% 2%;" name="radio-button-on"></ion-icon>
      <p no-margin text-wrap style="color:white; --border-color: unset;">ХЕ</p><span *ngIf="filterDaySegment === 'Week' || filterDaySegment === 'Month'" style="font-size: 14px; padding-left: 2px" > (ср.знач)</span>
    </ion-item>
  </div>

  <ion-grid no-padding>
    <ion-row>
      <ion-col size="8" no-padding>
        <ion-grid class="is-grid is-grid-tiles" no-padding>
          <ion-row text-center>
            <ion-col size="6" class="is-tile">
              <h3 style="margin-left: unset; color: white !important;">
                <span>СРЕДНИЙ</span>
                {{averageValue}} <span style="padding-bottom: 6px;">ммоль/л</span>
                <span style="color: rgba(255,137,192,1) !important;" *ngIf="+averageValue <= 4.5 || +averageValue >=9 ">Плохо</span>
                <span style="color: rgba(151,198,107,1) !important;"  *ngIf="+averageValue > 4.5 && +averageValue < 9">Отлично!</span>
              </h3>
            </ion-col>
            <ion-col size="6" class="is-tile">
              <h3 style="margin-left: unset; color: white !important;">
                <span>РАЗБРОС</span>
                ±{{spreadValue}} <span style="padding-bottom: 6px;">ммоль/л</span>
                <span style="color: rgba(255,137,192,1) !important;" *ngIf="+spreadValue >= 2.4 ">Плохо</span>
                <span style="color: rgba(151,198,107,1) !important;"  *ngIf="+spreadValue < 2.4">Отлично!</span>
              </h3>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col class="is-tile">
              <h3 style="margin-top: unset; margin-bottom: unset; margin-left: unset;">
                <span style="color: black;">СООТНОШЕНИЕ</span>
              </h3>
            </ion-col>
          </ion-row>
          <ion-row text-center>
            <ion-col size="4" class="is-tile" no-padding>
              <h3 style="margin-top: unset; margin-left: unset; color: rgba(97,207,233,1)">
                {{lowValue}}%
                <span>Низкий</span>
              </h3>
            </ion-col>
            <ion-col size="4" class="is-tile" no-padding>
              <h3 style="margin-top: unset; margin-left: unset; color: rgba(151,198,107,1)">
                {{normalValue}}%
                <span>Нормальный</span>
              </h3>
            </ion-col>
            <ion-col size="4" class="is-tile" no-padding>
              <h3 style="margin-top: unset; margin-left: unset; color: rgba(255,137,192,1)">
                {{highValue}}%
                <span>Высокий</span>
              </h3>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="4" no-padding>
        <canvas baseChart style="height: 100%; width: 100%; padding-top: 16px; padding-bottom:16px;"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType"
                [options]="doughnutChartOptions"
                [colors]="doughnutChartColors"
                [legend]="doughnutChartLegend">
        </canvas>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-grid *ngIf="filteredDiaryModelArray.length > 0" class="is-grid is-grid-tiles" no-padding style="background-color: white">
        <ion-row text-center>
        <ion-col class="is-tile">
          <h3 style="margin-top: unset; margin-bottom: unset; margin-left: unset;">
            <span style="color: black!important; font-size: 16px">ИСТОРИЯ</span>
          </h3>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-list no-margin mode="ios">
            <ion-item-sliding *ngFor="let row of filteredDiaryModelArray; trackBy: trackByF; let i = index">
              <ion-item style="--padding-start: unset">
                <ion-label style="margin-top: unset; margin-right: unset">
                  <ion-item  style="border: unset">
                    <ion-icon size="small" slot="start" name="time" style="margin-right: 8px"></ion-icon>
                    <p text-wrap>{{row.date | date: 'HH:mm'}}</p>
                    <p slot="end" text-wrap>{{row.date.toLocaleDateString()}}</p>
                  </ion-item>
                  <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
                    <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/glucose_meter.png"></ion-img>
                    <p text-wrap>{{row.sugarValue === '' || row.sugarValue === '0.0' ? '-' : row.sugarValue}}</p>
                  </ion-item>
                  <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
                    <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/bread.png"></ion-img>
                    <p text-wrap>{{row.foodValue === '' || row.foodValue === '0.0' ? '-' : row.foodValue}}</p>
                  </ion-item>
                  <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
                    <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/syringe1.png"></ion-img>
                    <p text-wrap>{{row.shortInsulinValue === '' || row.shortInsulinValue === '0.0' ? '-' : row.shortInsulinValue}}</p>
                  </ion-item>
                  <ion-item mode="ios" style="border: unset; width: 25%; float: left;">
                    <ion-img slot="start" style="width: 30%; margin-right: 8px;" src="assets/imgs/syringe.png"></ion-img>
                    <p text-wrap>{{row.extendedInsulinValue === '' || row.extendedInsulinValue === '0.0' ? '-' : row.extendedInsulinValue}}</p>
                  </ion-item>

                  <ion-item *ngIf="row.comment !== ''" mode="ios" style="border: unset;">
                    <ion-img slot="start" style="width: 6%; margin-right: 8px;" src="assets/imgs/comment.png"></ion-img>
                    <p text-wrap>{{row.comment}}</p>
                  </ion-item>
                </ion-label>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option expandable color="danger" (click)="deleteRow(i)">Удалить</ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-row>
      </ion-grid>
      <div class="emptyRow" *ngIf="filteredDiaryModelArray.length === 0">
        <ion-text style="font-size: 16px; font-weight: normal">
          У вас нет ни одной записи за данный период
        </ion-text>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
