:host {
  background-size: cover;
  --background: transparent;
  //--background: #4a5565;
  background-image: url("assets/imgs/landscape.png");

  ion-content, ion-toolbar {
    --background: transparent;
    --ion-toolbar-border-color: transparent !important;
    color: white;
  }
}

ion-datetime {
  margin: auto;
  font-size: 12px;
  padding: 4px;
  border: 1px solid  var(--ion-color-primary, #3880ff);
  border-radius: 10px;
  color: white;
}
ion-button {
  --background: transparent;
}
.circle {
  border-radius: 50%;
  border: 1px solid var(--ion-color-primary,#3880ff);
  font-size: 20px;
  text-align: center;
  height: 60px;
  width: 60px;
}

ion-icon {
  position: absolute;
  bottom: 0;
  right: 10%;
  color: white;
}
