:host {
  background-size: cover;
  --background: transparent;
  //--background: #4a5565;
  background-image: url("assets/imgs/landscape.png");

  ion-content, ion-toolbar {
    --background: transparent;
    --ion-toolbar-border-color: transparent !important;
    color: white;
  }
}

ion-datetime {
  margin: auto;
  font-size: 12px;
  padding: 4px;
  border: 1px solid  var(--ion-color-primary, #3880ff);
  border-radius: 10px;
  color: white;
}
ion-button {
  --background: transparent;
}
.circle {
  border-radius: 50%;
  border: 1px solid var(--ion-color-primary,#3880ff);
  font-size: 20px;
  text-align: center;
  height: 60px;
  width: 60px;
}

ion-icon {
  position: absolute;
  bottom: 0;
  right: 22%;
  color: white;
}

.sugarColor {
  color: var(--ion-color-secondary);
}

/deep/ .modal-wrapper {
  height: 85% !important;
  width: 95% !important;
}

.emptyRow {
  margin: 25px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
    /deep/ .modal-wrapper {
      height: 70% !important;
      width: 90% !important;
    }
  }

  @media only screen and (min-width: 414px) and (max-width: 736px) {
    /deep/ .modal-wrapper {
      height: 60% !important;
      width: 90% !important;
    }
  }

